<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Financial headline sentiment analysis</title>
</head>

<style>
    table {
        border-collapse: collapse;
    }

    th,
    td {
        border: 1px solid black;
        padding: 8px;
    }
</style>

<body>
    <form method="post">
        <p>Please enter statement</p>
        <input type="text" name="statement" required>
        <button type="submit">Submit</button>
    </form>

    {% if sentence %}
    <p> {{sentence}} </p>
    <p> {{result}} </p>
    {% endif %}

    <form method="post">
        <button name="generate" type="submit" value="generate">generate</button>
    </form>
    {% if headline_dict %}
    {% for stories in headline_dict %}
    <table>
        <TR>
            <TD>{{stories.headline}}</TD>
            <TD>{{stories.value}}</TD>
        </TR>
    </table>
    {% endfor %}
    {% endif %}
</body>

</html>